services:
  database:
    image: postgres:16.0-alpine3.18
    env_file:
      - ./.env
    ports:
      - "5432:5432"
    volumes:
      - pgdata_dev:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  pgdata_dev: