services:
  database:
    image: postgres:16.0-alpine3.18
    env_file:
      - ./.env
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

  api:
    build: .
    env_file:
      - ./.env
    ports:
      - "3333:3333"
    depends_on:
      - database
    restart: unless-stopped

  caddy:
    image: caddy:2
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - api
    restart: unless-stopped

volumes:
  pgdata:
  caddy_data:
  caddy_config: